<h1 align="center">Notice Board</h1>
<h1 align="center">सूचना पाटी</h1>

&nbsp
&nbsp
&nbsp
<hr />
<%= link_to 'Contacts / सम्पर्क फोन नम्बरहरु ' , root_path, class: "nav-link" %>
<hr />

<% @articles.each do |article| %>
    <div class="container">
        <h4><%= article.title %> </h4> <br />
        <p> <%= article.body %> </p>
        <p><%= social_share_button_tag(article.title) %></p>
        <hr />
    </div>
<% end %>